* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #540264;
    display: grid;
    place-items: center;
}

.calculadora {
    background-color: #dd44f8;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #540264;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    max-width: 18ch;
    overflow: hidden;
}

.btn {
    background-color: #540264;;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #1d001f;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #f72064;
}

#igual:hover {
    background-color: #9b0132;
}